* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    border: 1px;
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
    color: rgb(88, 174, 207);
    box-shadow: 0 0 5px 5px #0e85a3;
    border-radius: 16px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.contenedor-cuadros {  
    padding-top: 20px;
    text-align: center;
}

.cuadro1 {
    border: 3px;
    flex: 1;
    margin: 10px;
} 

.cuadro2 {
    border: 3px;
    flex: 1;
    margin: 10px;
}

body { 
    background: radial-gradient(circle, #000000, #113b72);
    height: 100vh;
}

.borde {
    border-color: rgb(26, 92, 190);
    border-width: 2px;
	border-style: double; 
	padding: 8px;
	padding: 8px;
	background-color: rgba(255, 255, 255, 0);
	border: 2px;
	box-shadow: 0 0 5px 5px #0e85a3;
}

.contenedor-botones1 { 
    width: 766px;
    margin: auto;
}

.boton-primario {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(31, 205, 211);
    width: 49%;
    text-align: center;
}

.boton-secundario {
	background-color: rgba(255, 255, 255, 0) ;
	color: rgb(31, 205, 211);	
	width: 49%;
	text-align: center;
}

.contenedor-botones2 {
    margin: auto;
    width: 1300px;
}

button {
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.copy {
    background-color: rgba(255, 255, 255, 0) ;
	color: rgb(31, 205, 211);	
	width: 60%;
	text-align: center;
}
p{
    color: rgb(31, 205, 211);
}